p{
    font-style: italic;
    font-size: 24px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: red;
}

body{
    background-color: lightblue;
}

img{
    border: 10px lightgreen solid;
    border-radius: 10px;
}

img[alt] {
    border: 5px solid orange;
    font-weight: bold;
}